body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "dyno_saur";
  margin: 0;
  letter-spacing: 2px;
  position: relative;
  background-color: var(--secfond);
}

.avisiter {
  background: url(./img/Grenade/Mirador_San_Nicolas.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: cover;
  max-width: 100%;
  margin: 0;
  text-align: bottom;
  padding: 10%;
}

.avisiter p {
  color: #FFFFFF;
  font-size: x-large;
  text-shadow: 0 0 20px black, 0 0 30px black, 0 0 40px black, 0 0 55px black, 0 0 75px black;
}

.culture {
  right: 50%;
  left: 50%;
  text-align: center;
}

.culture p {
  color: #FFFFFF;
  width: 70%;
  font-size: 21px;
  text-align: justify;
  text-align-last: center;
  font-family: "dyno_saur";
  margin-left: 15%;
  margin-right: 15%;
}

h4 {
  color: #FFFFFF;
  font-family: "dyno_saurB";
  font-size: 27px;
}

h5 {
  color: #ea5c0d;
  font-family: "dyno_saurB";
  font-size: 25px;
}

button {
  color: white;
  background-color: #f7af3e;
  font-family: "dyno_saurB";
  font-size: 100%;
  border-radius: 15px;
  border: none;
  width: 215px;
  height: 55px;
}

button:hover {
  color: white;
  background-color: #b94503;
  box-shadow: 7px 7px 7px black;
}

button:active {
  color: white;
  background-color: #ea5c0d;
}


a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

.restos_hotels {
  margin-top: 30px;
  margin-bottom: 70px;
  margin-left: 3%;
  margin-right: 3%;
  display: flex;
  background-color: #33333340;
  height: 5%;
  border-radius: 15px;
}

.restos_hotels:hover{
  box-shadow: 0 8px 16px 0 black;
}

.sortir {
  right: 50%;
  left: 50%;
  text-align: center;
}

.imgsortir {
  overflow: hidden;
  display: flex;
  width: 30%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.txtrestos_hotels {
  width: 70%;
  color: white;
  font-size: 21px;
  margin: 10px;
  text-align: justify;
  font-family: "dyno_saur";
}

.doubledivision {
  display: flex;
  text-align: justify;
  align-self: center;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.meteo_trafic {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 5px 10px;
  width: 45%;
  border-radius: 15px;
  border: solid #f7af3e 5px;
}

.meteo_trafic:hover {
  box-shadow: 0 8px 16px 0 black;
}

.meteo_trafic p {
  color: black;
  font-family: "dyno_saur";
}

.reservation {
  background: url(./img/Grenade/El\ Generalife.jpg);
  background-repeat: no-repeat;
  margin: 2%;
  width: cover;
  text-align: center;
  padding: 5px 10px;
  max-width: 100%;
  background-size: cover;
  border-radius: 15px;
}

.reservation:hover {
  box-shadow: 0 8px 16px 0 black;
}


.arrow-down {
  position: absolute;
  right: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-right: 16px solid transparent;
  border-left: 16px solid transparent;
  border-top: 20px solid #f7af3e;
  scroll-behavior: smooth;
  
}

.weatherwidget-io {
  border-radius: 10px;
  margin : 0 ;
  padding : 0;
  height: fit-content;
  width: 100%;
  height: 100%;
  object-fit:fill;
  border-radius: 15px;
  overflow: clip;
  background-size: cover;

}


@media (max-width:800px){
    .imgsortir{
      display: none;
    }

    .txtrestos_hotels{
      width: 100%;
    }

    #restos{
      background: url(./img/Grenade/resto-Granada2.jpg);
      background-size: cover;
    }

    #hotels{
      background: url(./img/Grenade/Hotel_Alhambra_Palace2.jpg);
      background-size: cover;
    }
}

/* CODE POUR UN SLIDER MAIS POUR LE FAIRE EN MUY BUENO: INTEGRER DU PHP/JS !
.slider {
  width: 1200px;
  height: 600px;
  overflow: hidden;
  margin: auto;
}

.slides {
  width: calc(1200px * 2);
  animation: glisse 10s infinite;
}

.slide {
    float: left;  
  }

@keyframes glisse {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-1200px);
  }
  60% {
    transform: translateX(-1200px);
  }
  100% {
    transform: translateX(0px);
  }
  
}
*/