:root {
  --principal: #ea5c0d;
  --seccolor : #b94503;
  --jaune : #f7af3e;
  --fond : #333333;
  --secfond : #505050;
}

@font-face {
  font-family: "dyno_saur";
  src: url('./fonts/Dyno/Dyno\ Regular.ttf');
}

@font-face {
    font-family: "dyno_saurB";
    src: url('./fonts/Dyno/Dyno\ Bold.ttf');
}

@font-face {
    font-family: "dyno_saurI";
    src: url('./fonts/Dyno/Dyno\ Italic.ttf');
}

@font-face {
    font-family: "cicle_base";
    src: url(./fonts/Cicle/Cicle\ Gordita.ttf);
}


body {
display: flex;
min-height: 100vh;
flex-direction: column;
font-family: "dyno_saur";
margin: 0;
letter-spacing: 2px;
position: relative;
background-color: var(--secfond);
display: grid;
grid-template-columns: auto 0px;
}

h2 {
margin-bottom: 3%;
}

.team>div{
  width: 250px;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.desc{
font-size: 17px;
padding: 2% 0;
}

.nom{
font-size: 30px;
font-weight: 900;
}

.Reseaux{
  display: flex;
  justify-content: center;
  align-items: center;
}

.reseau img {
display:inline-block;
width: 30px;
margin-inline:5px;
vertical-align: middle;
margin-bottom: 10%;
}

.avatar {
  border-radius: 50%;
  width: 250px;
  align-self: center;
}

p {
  font-size:larger;
  text-align: center;
  align-items: center;
}

.sources,
.team{
display: flex;
flex-direction: row;
justify-content: center;
flex-wrap: wrap;
}

.sources div{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.sources img{
width: 200px;
margin: 10px;
}

.sources .nom{    
color:#f7af3e;
font-size: 40px;
margin-inline:80px ;
}

.sources p,
.team p{
margin: 5px 0;
font-size: 20px;
text-align: center;
}

.sources button{
margin: 15px;
background-color: #f7af3e;
font-family: "dyno_saurB";
font-size: 125%;
border-radius: 80px;
border: none;
padding: 10px 25px;
}

.sources button:hover{
background-color: #b94503;
}

.sources button:active{
background-color: #ea5c0d;
}

form {
margin: 0 auto;
width:70%;
padding: 1em;
border: 1px solid #CCC;
border-radius: 1em;
}

label {
color:#f7af3e;
font-size: 25px;
}

input,textarea {
margin: 2% 0;
padding: 5px;
border-radius: 10px;
width: 98%;
font-size: 15px;
}

input[type=submit]{
color: white;
background-color: #f7af3e;
font-family: "dyno_saurB";
font-size: 125%;
border-radius: 80px;
border: none;
margin-top:20px;
padding: 15px 0;
width: 20%;
}

.top {
text-decoration: none;
padding: 20px;
font-family: sans-serif;
color: #fff;
background: #000;
border-radius: 100px;
position: sticky;
bottom: 20px; 
place-self: end;
margin-top: 100vh;
margin-bottom: 10px;
white-space: nowrap;
margin-right: 10px;
}

section{
position: relative;
display: flex;
flex-direction: column;
column-gap: 10%;
justify-content: center;
align-items: center;
padding-top: 5%;
}


.tooltip {
  display:inline-block;
  vertical-align: middle;
  margin-bottom: 8%;
  margin-top: 3px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 20%;
  background-color: #333333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media (max-width:1000px){
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 40%;
    background-color: #333333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    margin-left: -20%;
  }
  
}

@media (max-width:900px){
  input[type=submit]{
    width:50%
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 80%;
    background-color: #333333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    margin-left: -35%;
  }
  

}

@media (min-width:1700px){
  .descproj{
    margin: 0 20%
  }
}