.card .texte {
    width: auto;
    font-size:x-large;
    line-height: 100%;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 10px;
  }
  
  form label {
    font-weight: bold;
  }
  
  form input {
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  
  form input[type="submit"] {
    font-family: "dyno_saur";
    background-color: var(--jaune);
    color: white;
    cursor: pointer;
  }
  
  form input[type="submit"]:hover {
    background-color: var(--principal);
  }
  