body {
  color: white;
  }


.contenu  {
flex: 1 0 auto;
padding: 20px;
margin-top: 60px;
}

.contenu table {
border-collapse: collapse;
margin-left: auto;
margin-right: auto;
width: 50%;
height: 40px;
}

.contenu table td {
text-align: center;
padding-right: 50px;
padding-left: 50px;
}

.reseau img {
display:inline-block;
width: 20px;
margin-inline:5px;
vertical-align: middle;
margin-bottom: 10%;
}

.sources div{
text-align:center ;
padding: 40px;
display: inline-block;
vertical-align: middle;
}

.sources img{
display: inline-block;
width: 200px;
margin-inline: 80px;
vertical-align: middle
}

.sources .nom{    
color:#f7af3e;
font-size: 40px;
margin-inline:80px ;
}

.sources p {
word-wrap: break-word
}

.sources button{
background-color: #f7af3e;
font-family: "dyno_saurB";
font-size: 125%;
border-radius: 80px;
border: none;
width: 30%;
height: 100%;

}

.sources button:hover{
background-color: #b94503;
}

.sources button:active{
background-color: #ea5c0d;
}

form {
margin: 0 auto;
width:70%;
padding: 1em;
border: 1px solid #CCC;
border-radius: 1em;
}

label {
color:#f7af3e;
font-size: 25px;
}

input,textarea {
border-radius: 10px;
width: 98%;
margin-bottom: 15px;
font-size: 15px;
}

input[type=submit]{
color: white;
background-color: #f7af3e;
font-family: "dyno_saurB";
font-size: 125%;
border-radius: 80px;
border: none;
width: 10%;
height: 15%;
margin-top:20px;
padding-top: 8px;
padding-bottom: 10px;
}

.tooltip {
  display:inline-block;
  width: 20px;
  margin-inline:5px;
  margin-right: 10px;
  vertical-align: middle;
  margin-bottom: 8%;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 20%;
  background-color: #333333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  left: 45%;
  margin-left: -19%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip2 {
  display:inline-block;
  width: 20px;
  margin-inline:5px;
  margin-right: 10px;
  vertical-align: middle;
  margin-bottom: 8%;
}

.tooltip2 .tooltiptext2 {
  visibility: hidden;
  width: 20%;
  background-color: #333333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  left: 54%;
}

.tooltip2:hover .tooltiptext2 {
  visibility: visible;
}

.avatar {
  border-radius: 90%;
  width: 250px;
}

p {
  font-size:larger;
  text-align: center;
  align-items: center;
}