
footer {
    background-color: var(--fond);
    text-align: center;
    padding-top : 5px;
    width: auto;
    position: relative;
    list-style: none;
    height: 170px;
    padding: 20px;
    flex: auto;
}

footer .img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 50px;
}

footer .img li {
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
}

footer table {
    width: 100%;
}

footer .social img{
    width: 10%;
    margin: 0;
    padding: 0;
}

.rights {
    background-color: #b94503;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
}

