*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.FCFLEM {
    float: left;
    margin-left: 10px;
    }

.FCFLEM span{
        display: table-cell;
        vertical-align: middle;
    }
    
header{
    z-index: 999;
    position: fixed;
    background-color: #333333;
    width: 100%;
    display: flex;
    justify-content: space-between;
    }
 
header .NAVI{
    position: relative;
    line-height: 40px;
}

header .NAVI .menu{
    position: relative;
    display: flex;
    list-style: none;
    justify-content: center;
}

.menu li>a{
    display: block;
    text-decoration: none;
    color: white;
    margin: 20px;
    padding: 1px 10px;
    }

header a:hover{
background-color: #f7af3e;
}

header ul::after{
content: "";
clear: both;
}

.deroulant > a::after{
content:" ▼";
font-size: 12px;
}

.sous {
    position:absolute;
    background-color: #333333;
    list-style: none;
    box-shadow: 0px 1px 2px #CCC;
    visibility: hidden;
}

.deroulant:hover > .sous{
    visibility:visible
}

.sous a{
    padding: 0;
    border-bottom: none;
    }

.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0) ;
    }

.sous li:hover{
    background-color: #505050;
}

.sous li:active{
    background-color: #f7af3e;
}
