
:root {
    --principal: #ea5c0d;
    --seccolor : #b94503;
    --jaune : #f7af3e;
    --fond : #333333;
    --secfond : #505050;
  }

@font-face {
	font-family: "dyno_saur";
	src: url('./fonts/Dyno/Dyno\ Regular.ttf');
}

@font-face {
    font-family: "dyno_saurB";
    src: url('./fonts/Dyno/Dyno\ Bold.ttf');
}

@font-face {
    font-family: "dyno_saurI";
    src: url('./fonts/Dyno/Dyno\ Italic.ttf');
}

@font-face {
    font-family: "cicle_base";
    src: url('./fonts/Cicle/Cicle\ Gordita.ttf');
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: "dyno_saur";
	margin: 0;
	color: white;
	letter-spacing: 2px;
	position: relative;
    background-color: var(--secfond);
}

.contenu  {
    color: #fff;
    padding: 40px;
    margin-top: 60px;
}

.contenu ul {
    padding-left: 2%;
}

h2 {
    text-transform: uppercase;
    font-family: "dyno_saurB",sans-serif;
    color: white;
    background: url(./img/h2.png);
    background-repeat: no-repeat;
    height: 120px;
    line-height: 72px;
    padding-left: 120px;
    font-size: 45px;
    white-space: nowrap;
    overflow: hidden;
    list-style-position: outside;
}
