
:root {
    --principal: #ea5c0d;
    --seccolor : #b94503;
    --jaune : #f7af3e;
    --fond : #333333;
    --secfond : #505050;
  }

@font-face {
	font-family: "dyno_saur";
	src: url('./fonts/Dyno/Dyno\ Regular.ttf');
}

@font-face {
    font-family: "dyno_saurB";
    src: url('./fonts/Dyno/Dyno\ Bold.ttf');
}

@font-face {
    font-family: "dyno_saurI";
    src: url('./fonts/Dyno/Dyno\ Italic.ttf');
}

@font-face {
    font-family: "cicle_base";
    src: url(./fonts/Cicle/Cicle\ Gordita.ttf);
}

.tableau {
    width:100%;
    border-width: 1px;
    border-collapse: collapse;
}

.tableau th {
    background-color:#ea5c0d;
    border-width: 1px;
    padding: 8px;
    text-align:left;
}

.tableau tr {
    background-color:#ea5c0d40;
}

.tableau td {
    border-width: 1px;
    padding: 8px;
}

.tableau tr:hover {
    background-color:#f7af3e70;
}

.mainimg{
    background: url(./img/Alhambra01.jpg);
    background-repeat: no-repeat;
    margin: 0;
    width: 100%;
    text-align: center;
    padding: 10%;
}

.mainimg p {
    color: #FFFFFF;
    font-size: x-large;
    text-shadow: 0 0 20px black, 0 0 30px black, 0 0 40px black, 0 0 55px black, 0 0 75px black;
}

.contenu button{
    color: white;
    background-color: #f7af3e;
    font-family: "dyno_saurB";
    font-size: 100%;
    border-radius: 80px;
    border: none;
    width: 10%;
    height: 50px;
}

.contenu button:hover{
    color: white;
    background-color: #b94503;
}

.contenu button:active{
    color: white;
    background-color: #ea5c0d;
}

iframe {
    width: 100%;
    height: 500px;
}

.acces {
    padding: 1%;
    outline: 3px dashed #f7af3e;
    outline-offset: 0px;
    background-color: #f7af3e40;
    font-family: "dyno_saur";
    text-align: center;
}

.patios {
    display: flex;
    text-align: justify;
    align-self: center;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.palaisNas {
    display: flex;
    text-align: justify;
    align-self: center;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    margin-bottom: 2%;
}

.cardpetit {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #22222240;
    transition: 0.3s;
    padding: 5px 10px;
    width: 45%;
    justify-content: space-around;
    align-content: space-around;
}
  
.cardpetit:hover {
    box-shadow: 0 8px 16px 0 black;
}

.cardgrand {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #33333340;
    transition: 0.3s;
    padding: 5px 10px;
    width: 95%;
    justify-content: space-around;
    align-content: space-around;
    margin:2%;
}

.cardgrand:hover {
    box-shadow: 0 8px 16px 0 black;
}

.cardpetit1 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #33333340;
    transition: 0.3s;
    padding: 5px 10px;
    width: 30%;
    justify-content: space-around;
    align-content: space-around;
}
  
.cardpetit1:hover {
    box-shadow: 0 8px 16px 0 black;
}

.histoire {
    float:left;
    width: 20%;
    padding-right: 1%;
}

.arte {

    float: right;
    width: 20%;
}

.Palais {
    margin-top: 30px;
    margin-bottom: 70px;
    margin-left: 1%;
    margin-right: 1%;
    display: flex;
    background-color: #33333340;
}

.Palais:hover{
    box-shadow: 0 8px 16px 0 black;
}

.indiceimg {
    width: 30%;
    overflow: hidden;
    display: flex;
}

.indiceimg:hover{
    transform: scale(1.5);
}

.Palaistxt {
    width: 70%;
    color: white;
    margin-left: 10px;
    align-content: center;
}

.Palais button{
    color: white;
    background-color: #f7af3e;
    font-family: "dyno_saurB";
    font-size: 100%;
    border-radius: 80px;
    border: none;
    width: 20%;
    height: 50px;
}

.Palais button:hover{
    color: white;
    background-color: #b94503;
}

.Palais button:active{
    color: white;
    background-color: #ea5c0d;
}

.Palacios ul{
    font-size: x-large;
    font-weight: blod;
}

.Jardins{
    margin-bottom: 2%;
}