:root {
    --principal: #ea5c0d;
    --seccolor : #b94503;
    --jaune : #f7af3e;
    --fond : #333333;
    --secfond : #505050;
  }

@font-face {
	font-family: "dyno_saur";
	src: url('./fonts/Dyno/Dyno\ Regular.ttf');
}

@font-face {
    font-family: "dyno_saurB";
    src: url('./fonts/Dyno/Dyno\ Bold.ttf');
}

@font-face {
    font-family: "dyno_saurI";
    src: url('./fonts/Dyno/Dyno\ Italic.ttf');
}

@font-face {
    font-family: "cicle_base";
    src: url('./fonts/Cicle/Cicle\ Gordita.ttf');
}

html {
    height: 100%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: "dyno_saur";
    margin: 0;
	letter-spacing: 2px;
	position: relative;
    background-color: var(--secfond);
    display: grid;

}

/*div générale du body*/
.contenu  {
    color: #fff;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    padding: 40px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

/*titre principal de la page*/
h1 {
    text-shadow: 1px 1px 2px #333333;
    font-family: "dyno_saurB";
    color: var(--principal);
    font-size: 3.5em;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    text-align: center;
}

/*titre important de la page*/
h2  {
    text-transform: uppercase;
    font-family: "dyno_saurB";
    color: white;
    background: url(./img/h2.png);
    background-repeat: no-repeat;
    width: 98%;
    margin-top: 25px;
    margin-bottom: 10px;
    height: 120px;
    line-height: 72px;
    padding-left: 120px;
    font-size: 45px;
    white-space: nowrap;
    overflow: hidden;
}

/*titre secondaire de la page*/
h3 {
    font-family: "dyno_saur";
    color: var(--jaune);
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}

h3:before, h3:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;

}
h3:before {
    margin-right: 10px
}

h3:after {
    margin-left: 10px
}

/*div contenant le texte et l'image*/
.card {
    font-size: 200%;
    margin-top: 30px;
    margin-bottom: 70px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    background-color: var(--fond);
    border-radius: 15px;
    vertical-align: middle;
}

.card:hover {
    box-shadow: 0 8px 16px 0 black;
}

/*div contenant l'image (card)*/
.image {
    display: flex;
    width: 30%;
    min-height: 100%;
    border-radius: 15px;
}

/*div contenant le texte (card)*/
.texte {
    width: 70%;
    padding-top: 5%;
    padding-bottom: 5%;
    color: white;
    text-align: center; 
    display: table-cell;
    vertical-align: middle;
    line-height: 150%;
}

/*image à l'intérieur de la div contenant l'image (card)*/
.image>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

/*lien des boutons à l'intérieur de la div contenant le texte (card)*/
a:link {
    color: white;
    text-decoration: none;
}

/*bouton à l'intérieur de la div contenant le texte (card)*/
.texte button{
    background-color: #f7af3e;
    margin: 15px;
    padding: 10px;
    font-family: "dyno_saurB";
    font-size: 100%;
    border-radius: 80px;
    border: none;
    width: 25%;
    height: 40%;

}

.texte button:hover{
    background-color: #b94503;
}

.texte button:active{
    background-color: #ea5c0d;
}

/*bouton remonter en haut de page*/

.top{
    text-decoration: none;
    padding: 20px;
    font-family: sans-serif;
    color: #fff;
    background: #000;
    border-radius: 100px;
    position: sticky;
    bottom: 20px; 
    place-self: end;
    margin-bottom: 10px;
    margin-right: 10px;
    white-space: nowrap;
    margin-right: 10px;
}

p{
    margin-bottom: 10px;
}
